/build/
/ElectronicDesign/chmatic/signoise.run/
/ElectronicDesign/Schmatic/allegro/
/ElectronicDesign/PCB/stepFacetFiles4Map/
*.dml
*.DBK
*.DRC
*.log
*.log*
*.jrl
*.jrl*
*.w
*.tag
*.sts
*.did
*.txt
*.xml
*.run
*.lck