menu "Sensor Monitor Example"
    config SENSOR_EXAMPLE_PERIOD
        int "sensor min delay(ms)"
        range 0 65535
        default 200
endmenu

menu "Sensor Buffer Size"
    config SENSOR_BUFFER_SIZE
        int "sensor buffer size"
        range 0 65535
        default 2048
endmenu
